[access]
	inheritFrom = All-Projects
[project]
	description = Machine Configuration Data for Witherspoon Systems
[access "refs/*"]
	owner = group user/Santosh Puranik (santoshpuranik)
[access "refs/for/refs/*"]
	read = group user/Santosh Puranik (santoshpuranik)
	push = group user/Santosh Puranik (santoshpuranik)
	label-Code-Review = -2..+2 group user/Santosh Puranik (santoshpuranik)
	label-Verified = -1..+1 group user/Santosh Puranik (santoshpuranik)
	rebase = group user/Santosh Puranik (santoshpuranik)
	removeReviewer = group user/Santosh Puranik (santoshpuranik)
	submit = group user/Santosh Puranik (santoshpuranik)
[access "refs/heads/*"]
	read = group user/Santosh Puranik (santoshpuranik)
	create = group user/Santosh Puranik (santoshpuranik)
	push = +force group user/Santosh Puranik (santoshpuranik)
	pushMerge = group user/Santosh Puranik (santoshpuranik)
[access "refs/tags/*"]
	push = group user/Santosh Puranik (santoshpuranik)
	push = +force group user/Santosh Puranik (santoshpuranik)
